

<%- include('head') %>
<%- include('header') %>



  <!-- Carrito de compras -->
  <section class="carrito">
    <h2>Tu carrito</h2>
    <table>
      <thead>
        <tr>
          <th>Producto</th>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><img src="images/creatina.jpg" alt="Creatina MuscleCore" /></td>
          <td>Creatina MuscleCore</td>
          <td>Gs. 165.000</td>
          
          <td>1</td>
          <td class="acciones"><button>Eliminar</button></td>
        </tr>
        <tr>
          <td><img src="images/guantes.jpg" alt="Guantes Pro Grip" /></td>
          <td>Guantes Pro Grip</td>
          <td>Gs. 120.000</td>
          <td>1</td>
          <td class="acciones"><button>Eliminar</button></td>
        </tr>
      </tbody>
    </table>

    <div class="total">Total: Gs. 285.000</div>

    <a href="#" class="finalizar-compra">Finalizar compra</a>
  </section>

  <!-- Footer -->
  <footer>
    <p>© 2025 Muscle Power</p>
    <p>Contacto | Política | Redes</p>
  </footer>

</body>
</html>
