<header>
  <h1>Muscle Power</h1>
  <nav>
    <a href="/" class="active">Inicio</a>
    <a href="/product">Productos</a>
    <a href="/registro">Registrarse</a>
    <a href="/ingresar">Ingresar</a>
    <a href="/carrito">🛒</a>
  </nav>
</header>
