

<%- include('head') %>
<%- include('header') %>


  <!-- Formulario de login -->
  <main>
    <form>
      <h2>Iniciar sesión</h2>

      <label for="email">Correo electrónico:</label>
      <input type="email" id="email" placeholder="Ej. aldo@example.com" />

      <label for="password">Contraseña:</label>
      <input type="password" id="password" placeholder="••••••••" />

      <label>
        <input type="checkbox" /> Recuérdame
      </label>

      <!-- Simulación de error -->
      <div class="error-msg">Usuario o contraseña incorrectos.</div>

      <button type="submit">Ingresar</button>

      <p><a href="#">¿Olvidaste tu contraseña?</a></p>
    </form>
  </main>

  <!-- Footer -->
  <footer>
    <p>© 2025 Muscle Power</p>
    <p>Contacto | Política | Redes</p>
  </footer>

</body>
</html>
